.btn {
  min-width: 150px;
  border-radius: 15px;
  border: 3px solid black;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: white;
  box-shadow: 1px 4px 0 darkgray;
  transition: 0.2s;
}

.btn:active {
  box-shadow: none;
  transform: translateY(5px);
}

.start-btn {
}
