@import 'button.css';
@import 'input.css';
@import 'keyboard.css';
@import 'startPage.css';


body {
    background-color: aqua;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    height: 100vh;
}


